	<!-- Contact Us Area
		================================================== -->
	  
                <section id='contact' class="container">
                    <div class="row">
              
                        <div class="col-md-12">        
                            <h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Get In Touch</h2>
                   
                            <div class="devider">
                                <div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
                                <div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
                                    <div class="devider-round-in devider-round-in-sea-green"></div>
                                </div>
                            </div>
                   
                            <p class="text-center lead op08 animated" data-animation="fadeIn" data-animation-delay="400">
                                We'd love to hear from you. Drop us a line, or just drop by
                            </p>
                            <!-- <p class="text-center title-description animated" data-animation="fadeIn" data-animation-delay="400">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore 
                                magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p> -->
                   
                            <div class="clearfix"></div>
                   
                        </div><!-- end col-md-12 -->
                
                        <div class="col-md-12" style="padding-bottom:20px;">
                          
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.1897310757186!2d-79.40087468425638!3d43.64422076102878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34dee838ff25%3A0x5acd968aaaf5df4a!2s545+King+St+W%2C+Toronto%2C+ON+M5V+1M1!5e0!3m2!1sen!2sca!4v1526589219104" 
                            height=480 frameborder="0" class='col-md-6' style="border:0" allowfullscreen ></iframe>

                            <div id="contacInfo" class="col-md-6">
                  
                                <!-- <div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="300">
                                    <i class="fa fa-4x fa-mobile pull-left text-center"></i>
                                    <h6 class="fw-200">Toll Free Number</h6>
                                    <h5>9870654-321</h5>
                                </div> -->
                    
                                <div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="500">
                                    <i class="fa fa-3x fa-envelope pull-left text-center"></i>
                                    <h6 class="fw-200">General Enquiry</h6>
                                    <h5>rickt@tm7.tech</h5>
                                </div>
                    
                                <div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="700">
                                    <i class="fa fa-3x fa-map-marker pull-left text-center"></i>
                                    <h6 class="fw-200">Address Location</h6>
                                    <h5>545 King St E.<br>Toronto Ontario Canada</h5>
                                </div>
                    
                            </div><!-- end col-md-6-->
                  
                        </div><!-- end col-md-12 -->
                
                    </div><!-- end row -->
                </section><!-- end container -->
           
