	  

	<!-- Copyright Area
	================================================== -->

<section id="copyright">
<div class="container">
    <div class="row">
        <div class="col-md-12">        
            <p class="text-center copyright">
                Copyright 2014 <a href="#"> TM7</a> All rights reserved.
            </p>        
        </div>
    </div>
</div>	
</section>  

	