
		<!-- Services Area
		================================================== -->
		<section> 		  
                <div class="container">
                    <div class="row">
                    
                        <div class="col-md-12">					
                            <!-- Title -->
                            <h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Our Website Services</h2>
                               <!-- Devider -->
                            <div class="devider">
                                <div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
                                <div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
                                    <div class="devider-round-in devider-round-in-sea-green"></div>
                                </div>
                            </div>
                               <!-- Descriptions -->
                            <p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
                                Nemo enim ipsam <span class="span-color">voluptatem</span> quia voluptas sit aspernatur
                            </p>
                            <p class="title-description text-center animated" data-animation="fadeIn" data-animation-delay="400">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>				
                        </div><!-- end col-md-12 -->
                  
                        <!-- CMS Website Services -->
                        <div class="col-md-12 services-inner" style="margin-top:20px;">
                         
                            <div class="col-md-6 pull-right">
                            
                                <!-- cms icon -->
                                <div class="icon-cms animated" data-animation="zoomIn" data-animation-delay="1700">
                                    <div class="icon-line icon-line-cms animated" data-animation="fadeInRight" data-animation-delay="2400"></div>
                                    <div class="icon-round icon-round-cms animated" data-animation="zoomIn" data-animation-delay="2900"></div>
                                </div>
                                <!-- cms icon -->
                            
                                <img src="images/cms.png" alt="" class="img-responsive pull-right animated" data-animation="bounceIn" data-animation-delay="700">            
                            </div><!-- end col-xs-6" -->
                          
                            <div class="col-md-6 pull-left animated" data-animation="fadeIn" data-animation-delay="400">
                                <h4 class="fw-200"><span class="fw-600">CMS</span> Website</h4>
                                <h5 class="fw-300">
                                    Sed ut perspiciatis unde <span class="span-color"> omnis iste</span> natus error sit voluptatem
                                </h5>
                                <p>
                                    Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                                </p>
                                <!-- <p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p> -->
                            </div><!-- end col-xs-6" -->	 
                          
                        </div><!-- end col-md-12 -->
                                                
                        <!-- HTML Website Services -->
                        <div class="col-md-12 services-inner" style="margin-top:20px;">
                         
                            <div class="col-md-6 pull-right">
                            
                                <!-- html icon -->
                                <div class="icon-html animated" data-animation="zoomIn" data-animation-delay="1700">
                                    <div class="icon-line icon-line-html animated" data-animation="fadeInRight" data-animation-delay="2400"></div>
                                  <div class="icon-round icon-round-html animated" data-animation="zoomIn" data-animation-delay="2900"></div>
                                </div>
                                <!-- html icon -->
                            
                                <img src="images/laptop.png" alt="" class="img-responsive pull-right animated" data-animation="bounceIn" data-animation-delay="700">
                                     
                            </div><!-- end col-xs-6" -->
                          
                            <div class="col-md-6 pull-left animated" data-animation="fadeIn" data-animation-delay="400">
                                <h4 class="fw-200"><span class="fw-600">HTML</span> Website</h4>
                                <h5 class="fw-300">
                                    Sed ut perspiciatis unde <span class="span-color"> omnis iste</span> natus error sit voluptatem
                                </h5>
                                <p>
                                    Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                                </p>
                                <!-- <p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p> -->
                            </div><!-- end col-xs-6" -->					   
                          
                        </div><!-- end col-md-12 -->
                    
                    </div><!-- end row -->			  
                </div><!-- end container -->		  
            </section><!-- end services -->