
		<!-- Services Area
		================================================== -->
		<section id='services'> 		  
                <div class="container">
                    <div class="row">
                    
                        <div class="col-md-12">					
                            <!-- Title -->
                            <h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Our Application Development Services</h2>
                               <!-- Devider -->
                            <div class="devider">
                                <div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
                                <div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
                                    <div class="devider-round-in devider-round-in-sea-green"></div>
                                </div>
                            </div>
                               <!-- Descriptions -->
                            <p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
                               We build web applications using the latest and greatest technologies
                            </p>
                            <p class="title-description text-center animated" data-animation="fadeIn" data-animation-delay="400">
                               Like most things big, the TM7 development team began with a simple idea. Two gifted minds--Rick and Saurabh had a vision and embarked on this journey with a personal line insurance application for Ignite Canada.
                               The TM7 development team, that came to life in the spring of 2017, became fully functional in April of the same year. The team started expanding quickly, with talents joining from various backgrounds.
                            </p>				
                        </div><!-- end col-md-12 -->
                  
                        <!-- CMS Website Services -->
                        <div class="col-md-12 services-inner" style="margin-top:20px;">
                         
                            <div class="col-md-6 pull-right">
                            
                                <!-- cms icon -->
                                <div class="icon-cms animated" data-animation="zoomIn" data-animation-delay="1700">
                                    <div class="icon-line icon-line-cms animated" data-animation="fadeInRight" data-animation-delay="2400"></div>
                                    <div class="icon-round icon-round-cms animated" data-animation="zoomIn" data-animation-delay="2900"></div>
                                </div>
                                <!-- cms icon -->
                            
                                <img src="images/cms.png" alt="" class="img-responsive pull-right animated" data-animation="bounceIn" data-animation-delay="700">            
                            </div><!-- end col-xs-6" -->
                          
                            <div class="col-md-6 pull-left animated" data-animation="fadeIn" data-animation-delay="400">
                                <h4 class="fw-200"><span class="fw-600">Agile</span> Product Development</h4>
                                <h5 class="fw-300">
                                    Delivering <span class="span-color">flexible</span> rapidly, allowing for constant change
                                </h5>
                                <p>
                                    We are proud to work in a true agile environment where individuals come over process. We like to work together physically in the same location. It's important for us make sure each one of us is learning new things and contributing to the team beyond the current skill set.                 
                                </p>
                                <!-- <p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p> -->
                            </div><!-- end col-xs-6" -->	 
                          
                        </div><!-- end col-md-12 -->
                                                
                        <!-- HTML Website Services -->
                        <div class="col-md-12 services-inner" style="margin-top:20px;">
                         
                            <div class="col-md-6 pull-right">
                            
                                <!-- html icon -->
                                <div class="icon-html animated" data-animation="zoomIn" data-animation-delay="1700">
                                    <div class="icon-line icon-line-html animated" data-animation="fadeInRight" data-animation-delay="2400"></div>
                                  <div class="icon-round icon-round-html animated" data-animation="zoomIn" data-animation-delay="2900"></div>
                                </div>
                                <!-- html icon -->
                            
                                <img src="images/laptop.png" alt="" class="img-responsive pull-right animated" data-animation="bounceIn" data-animation-delay="700">
                                     
                            </div><!-- end col-xs-6" -->
                          
                            <div class="col-md-6 pull-left animated" data-animation="fadeIn" data-animation-delay="400">
                                <h4 class="fw-200"><span class="fw-600">Long term</span> support</h4>
                                <h5 class="fw-300">
                                   Maintaining your software in the <span class="span-color">full-stack</span> 
                                </h5>
                                <p>
                                    At TM7, we not only build new products but also provide professional services for maintaining and enhancing the product. 
                                    We augment client development team or just work like the clients own IT team to provide care and finesse required for a live product.     
                                </p>                         <!-- <p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p> -->
                            </div><!-- end col-xs-6" -->					   
                          
                        </div><!-- end col-md-12 -->
                    
                    </div><!-- end row -->			  
                </div><!-- end container -->		  
            </section><!-- end services -->