<section id='team'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Company Profile & Team</h2>

                <div class="devider">
                    <div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
                    <div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
                        <div class="devider-round-in devider-round-in-sea-green"></div>
                    </div>
                </div>
                <p class="text-center lead op08 animated" data-animation="fadeIn" data-animation-delay="400">
                    A group of folks
                    <span class="span-color">Dedicated</span> to building feature-rich applications efficiently.
                </p>
                <p class="text-center title-description animated" data-animation="fadeIn" data-animation-delay="400">
                    We are a bunch of young, talented people who work hard and party harder, having the same goals in mind.<br/> Coming from varied backgrounds, we believe in a multicultural workspace. Here, it is big cauldron filled with joy and cultural diversity.
                    At TM7, we are a very efficient team, because no one plays alone. We always have each other’s back. Thoughts, ideas and opinions are exchanged in real-time brainstorming sessions.<br/> As a non-traditional IT firm, we like to improvise, not compromise.
                </p>
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

    <!-- team start -->
    <div class="col-md-12  bg-cyan ">
        <div class="col-lg-6 col-md-8 bg-dark-blue animated" data-animation="fadeIn" data-animation-delay="500" style='padding:0'>
            <img src="images/team/1.jpg" alt="photo" class="pull-right img-responsive" style='overflow-y:hidden;margin:0'>
            <div class="clearfix"></div>
        </div>

        <div class="col-lg-6 col-md-4 team-container animated" data-animation="fadeIn" data-animation-delay="300">
            <div class='pull-left'>
                <p class="team-content dark-cyan">
                    Want to be part of the team?
                </p>
                <div class="team-name">
                    <h5 class="white">
                        As a team, we try hard to minimize office politics, making all intentions, opinions, activities, decisions and discussions as transparent as possible and solve most of our problems over cups of latte.

                      <br/><br/>  We are always looking for talent<br/> in modern front end frameworks,as well as senior Java developers.
                    </h5>
            
                    <b>
                        <br/>
                        Send us a resume at rickt@tm7.tech
                    </b>
                </div>

                <div class="clearfix"></div>

            </div>
            <!-- end col-md-6-->
        </div>
    </div>
    <div class='clearfix'></div>
    <!-- end col-md-12-->
    <!-- team are end -->

</section>